<div id="galaxy">
  <div id="constelation">
    <div id="logo" onclick={{action 'expandGalaxy'}}>
      {{#link-to 'index'}}
        <img id="owl" src="/assets/img/logo/owl-and-moon.svg" alt="Logo of Moonmother Productions" itemprop="logo">
        <img id="moon" src="/assets/img/logo/moon.svg" alt="Moon">
        <img id="mother" src="/assets/img/logo/mother.svg" alt="Mother">
        <img id="production" src="/assets/img/logo/productions.svg" alt="Productions">
      {{/link-to}}
    </div>
    <div id="to-index" class="planet" onclick={{action 'collapseGalaxy'}}>
      {{#link-to 'index'}}
        <img src="/assets/img/galaxy/home.svg" alt="home">
        <span></span>
      {{/link-to}}
    </div>
    <div id="to-about" class="planet" onclick={{action 'collapseGalaxy'}}>
      {{#link-to 'about'}}
        <img src="/assets/img/galaxy/about.svg" alt="about">
        <span></span>
      {{/link-to}}
    </div>
    <div id="to-services" class="planet" onclick={{action 'collapseGalaxy'}}>
      {{#link-to 'services'}}
        <img src="/assets/img/galaxy/services.svg" alt="services">
        <span></span>
      {{/link-to}}
    </div>
  </div>
  <div class="clip">
    <div class="center">
      <div class="glow">
        {{responsive-picture
          alt='rotating star constellation in night sky'
          src='/assets/img/header/galaxy@2000x2000.jpg'
        }}
      </div>
    </div>
  </div>
</div>

<div id="tagline">
  <h1>Going above and beyond to bring your event to life.</h1>
</div>
