<section id="contact">
  <div>
    {{moon-icon name="new-moon"}}
    <h3>Contact our helpful staff.</h3>
    <meta
      itemprop="name"
      content="Moon Mother"
    >
    <meta
      itemprop="url"
      content="https://moonmother.com.au"
    >
    <meta
      itemprop="email"
      content="biz@moonmother.com.au"
    >
    <meta
      itemprop="telephone"
      content="1300556264"
    >
    <h4
      itemprop="location"
      itemscope
      itemtype="https://schema.org/PostalAddress"
    >
      <span itemprop="postOfficeBoxNumber">PO BOX 6196</span>
      <nobr itemprop="streetAddress">St Kilda Rd Central</nobr>, <nobr><span itemprop="addressLocality">Melbourne</span>, <span itemprop="addressRegion">VIC</span>, <span itemprop="postalCode">3182</span></nobr>
      <meta
        itemprop="addressCountry"
        content="AU"
      >
    </h4>
    <button
      class="dark-background"
      onclick={{action 'showPhone'}}
    >
      Call us
    </button>
    {{#if showPhone}}
      <p id="phone">
        <a
          href="tel:1300556264"
          target="_blank"
          rel="noopener"
        >
          M 1300 556 264
        </a>
      </p>
    {{/if}}
    <button
      class="dark-background"
      onclick={{action 'showEmail'}}
    >
      Email us
    </button>
    {{#if showEmail}}
      <p id="email">
        <a
          href="mailto:biz@moonmother.com.au"
          target="_blank"
          rel="noopener"
        >
          biz@moonmother.com.au
        </a>
      </p>
    {{/if}}
    <div
      itemprop="founder"
      itemtype="https://schema.org/Person"
      itemscope
    >
      <img
        src="/assets/img/jenny-moon.jpg"
        alt="Jenny Moon in person"
        class="jenny"
        itemprop="image"
      >
      <h5 itemprop="name">Jenny Moon</h5>
      <p itemprop="jobTitle">Directress</p>
    </div>
  </div>
</section>

<section id="social">
  <div>
    {{moon-icon name="waxing-gibbous"}}
    <h2>Follow Moon Mother</h2>
    <ul id="social-media">
      <li>
        <a
          href="https://www.facebook.com/moonmotherproductions"
          target="_blank"
          rel="noopener"
          onclick={{action sendConversion 'Facebook'}}
          itemprop="sameAs"
          title="Find Moon Mother on Facebook"
        >
          <img
            src="/assets/img/facebook.svg"
            alt="Facebook icon"
          >
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/moonmotherproductions"
          target="_blank"
          rel="noopener"
          onclick={{action sendConversion 'Instagram'}}
          itemprop="sameAs"
          title="Find Moon Mother on Instagram"
        >
          <img
            src="/assets/img/instagram.svg"
            alt="Instagram icon"
          >
        </a>
      </li>
    </ul>

    <div
      id="instafeed"
      onclick={{action sendConversion 'Instagram feed'}}
    >
      {{!-- Content is loaded in with JS, after user has footer in view --}}
    </div>

    <p>&copy;2017 Moon Mother Productions. <nobr>All rights reserved.</nobr>
      <nobr
        itemscope
        itemtype="https://schema.org/WebSite"
      >
        Website by <a
          href="https://www.hannahsuttondesign.com"
          target="_blank"
          rel="noopener"
          onclick={{action sendConversion 'Hannah Sutton Design'}}
          itemprop="url"
        ><span itemprop="name">Hannah Sutton Design</span></a>
      </nobr>.
    </p>
  </div>
</section>