<div>
  <img class="moon" src="/assets/img/moon-icons/waning-cresent.svg" alt="icon of waning crescent moon">
  <h2>Testimonials</h2>
  <span itemscope itemprop="aggregateRating" itemtype="https://schema.org/AggregateRating">
    <meta itemprop="bestRating" content="5">
    <meta itemprop="worstRating" content="1">
    <meta itemprop="ratingValue" content="4.5">
    <meta itemprop="reviewCount" content="6">
    <meta itemprop="ratingCount" content="{{quotes.length}}">
    <span itemprop="itemReviewed" itemscope itemtype="https://schema.org/Thing">
      <meta itemprop="name" content="Moon Mother">
      <meta itemprop="url" content="https://moonmother.com.au">
    </span>
  </span>
  <div class="quotes" data-current-quote={{currentQuote}}>
    {{#each quotes as |quote index|}}
      <blockquote itemscope itemprop="review" itemtype="https://schema.org/Review" data-index={{index}}>
        <span itemprop="itemReviewed" itemscope itemtype="https://schema.org/Thing">
          <meta itemprop="name" content="Moon Mother">
          <meta itemprop="url" content="https://moonmother.com.au">
        </span>
        <span itemscope itemprop="reviewRating" itemtype="https://schema.org/Rating">
          <meta itemprop="bestRating" content="5">
          <meta itemprop="worstRating" content="1">
          <meta itemprop="ratingValue" content="{{quote.rating}}">
          <meta itemprop="author" content="{{quote.author.firstName}} {{quote.author.lastName}}">
        </span>
        <p class="quote">&ldquo;<span itemprop="reviewBody">{{quote.body}}</span>&rdquo;</p>
        <footer itemprop="author" itemscope itemtype="https://schema.org/Person">
          <cite itemprop="name">{{quote.author.firstName}} {{quote.author.lastName}}</cite>
          <p>{{#if quote.author.title}}<span itemprop="jobTitle">{{quote.author.title}}</span>, {{/if}}<span itemprop="worksFor" itemtype="https://schema.org/Organization" itemscope><span itemprop="name">{{quote.author.worksFor}}</span></span></p>
        </footer>
      </blockquote>
    {{/each}}
  </div>
</div>
<nav>
  <div class="arrow prev" onclick={{action 'prevQuote'}}>
    <img src="/assets/img/arrow-left.svg" alt="icon of left arrow">
  </div>
  <div class="arrow next" onclick={{action 'nextQuote'}}>
    <img src="/assets/img/arrow-right.svg" alt="icon of right arrow">
  </div>
  <ul>
    {{#each quotes as |quote index|}}
      <li onclick={{action 'gotoQuote' index}}></li>
    {{/each}}
  </ul>
</nav>
